DATABASE_URL=
JWT_SECRET=
INTERNAL_SERVICE_TOKEN=
DRIVER_SERVICE_URL=http://localhost:8082
PASSENGER_SERVICE_URL=http://localhost:8081
TRIP_SERVICE_URL=http://localhost:8083
BIDDING_SERVICE_URL=http://localhost:8084
FARE_SERVICE_URL=http://localhost:8087
PORT=8089
