PORT=
AUTH_SERVICE_URL=
PASSENGER_SERVICE_URL=
DRIVER_SERVICE_URL=
TRIP_SERVICE_URL=
TELEMETRY_SERVICE_URL=
BIDDING_SERVICE_URL=
CHAT_SERVICE_URL=
FARE_SERVICE_URL=
ADMIN_SERVICE_URL=http://localhost:8090
LOCATION_SERVICE_URL=http://localhost:8089
